.container{
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: column;
}
body{
    background-color: blanchedalmond;
    margin:0 auto;
    box-sizing: border-box;
}

.title{
    font-size: 40px

}
.header{
    height: 100%;
    max-width: 100%;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

button {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    margin: 0 20px 50px 20px;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(19, 5, 5);
    max-width: 100%;
    width: 100vw;
    color: #ccc;
    height: 150px;
    text-align: center;
}