*{
    margin:0 auto;
    box-sizing: border-box;
}
.header_sport {
   
    background-image: url(./img/header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
    .header__first{
        color:white;
    }
    
}

.main_sport{
   
    background-color:rgb(18, 18, 18);
    .sport_header{
        padding-top: 50px;
        margin: 0 auto;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-bottom: 50px;
        color: rgb(17, 201, 44);
    }
    .decription_header{
        margin: 0 auto;
        text-align: center;
        max-width: 50%;
        margin-bottom: 50px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color:white;
    }
}

.carousel {
    max-width: 70%;
    max-height:30%;
    margin-bottom: 50px;
    padding: 20px;
    img{
        width:100px;
        max-height: 500px;
    }
}

.cards{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    .card-img-top{
        max-width: 100%;
        max-height: 170px;
    }
}

.container{
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.gridcontainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .gridcontainer > div {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
  }

